.indent-1 {
  margin-left: 15px;
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

#divider {
  margin: 20px auto;
}
#bottom_form .add-record .actions {
  display: inline-block;
  margin: 10px;
}
